.center {
    text-align: center;
    letter-spacing: 1pt;
}
.title {
    text-align:center; padding-top:1em;
    letter-spacing: 1pt;
}
ul {
    display: inline-block;
    text-align: left;
}
a {
    color: orange;
}

@font-face {
    font-family: 'Coolvetica';
    src:
        url('coolvetica.otf') 
        format('opentype');
    font-weight: normal;
    font-style: normal;
}
  
body {
    font-family: 'coolvetica.ttf', sans-serif;
    background-color: #006999;
    color: #fff;
    text-shadow: #000 0.1em 0.1em 0.1em;
}