:root {
    --bgcolor: #131419;
    --maincolor: #e7e7e7;
}

body {
    background-color: var(--bgcolor);
}

a, a:link, a:visited {
    color: var(--maincolor);
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    color: var(--maincolor);
}

input {
    margin: 6px;
    padding: 6px;
}

#total {
    color: var(--maincolor);
}